html,body{
    padding: 0px;
    margin: 0px;
    height: 100%;
}

#my-nav {
    list-style-type: none;
    margin: 0px;
    background: #40458c;
    height: 50px;
    position: fixed;
    top:0;
    left: 0; 
    width: 100%;
    z-index: 1;
}
#my-nav li{
    display: inline-block;
    padding-top: 15px;
}
#my-nav li a{
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    margin-right: 5px;
}
.right{
    margin-left: 70%;
    display: inline-block;
}
.right li{
    margin-right: 10px;
}
#home{
    max-width: 60%;
    margin: auto;
    margin-top: 50px;
    line-height: 35px;
    font-size: 18px;
    background-color: rgb(250, 198, 246);
    padding: 10px 70px;
}
#home a{
    text-decoration: none;
    color: rgb(2, 55, 201);
    display: block;
    width: 50%;
    margin: auto;
    text-align: center;
}
#container{
    position: relative;
}
#sideNav{
    display:inline-block;
    border-right: 1px solid #000;
    padding: 10px;
    background-color: #e7ecef;
    position: absolute;
    top: 50px;
    left: 0;
    width: 20%;
    height: 660px;
    overflow: auto;
}
#sideNav ul{
    list-style-type: none;
    padding: 0px;
}
#sideNav li{
    margin-bottom: 15px;
    border-bottom: 1px dotted black;
}
#sideNav a{
    text-decoration: none;
    font-size: 18px;
}
.main-content{
    position: absolute;
    top: 50px;
    left: 22%;
    height: 672px;
    overflow: auto;
}
.main-content > h1{
    text-align: center
}
.main-content > p{
margin-top: 45px;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
}